.signal-download,
.signal-success,.signal-error {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  display: none;
}

.signal-download > p, .signal-success > p, .signal-error > p{
  margin-bottom: 0;
  text-align: center;
  width: auto;
}
.signal-download.block,
.signal-success.block,.signal-error.block {
  display: flex;
}

.msg-erro{
  color:rgb(234, 29, 44);
  font-size: 14px;
  font-weight: bold;
  margin-left: 1px;
  margin-top: 2px;
  display: none;
}
.input-error{
  border-color:rgb(234, 29, 44);
}