.signal-download,
.signal-success {
  display: none;
}
.signal-download.block,
.signal-success.block {
  display: flex;
}

.msg-erro{
  color:rgb(234, 29, 44);
  font-size: 14px;
  font-weight: bold;
  margin-left: 1px;
  margin-top: 2px;
  display: none;
}
.input-error{
  border-color:rgb(234, 29, 44);
}