{% extends 'base.html' %}

{% block titulo %} {{titulo}} {% endblock %}


{% block conteudo %}

<form class='container' method='POST' action='{{ url_for('download_video_corte') }}'>
    <div class="mb-3">
      <label for="url" class="form-label">Url do video</label>
      <input type="text" class="form-control" id="url" name='url' aria-describedby="url do video" placeholder='Digite aqui a url do video'>
    </div>
    <div class="mb-3">
      <label for="caminho_salvar" class="form-label">Digite onde deseja salvar no seu computador</label>
      <input type="text" class="form-control" id="caminho_salvar" name='caminho' placeholder='Digite o caminho de onde deseja salvar'>
    </div>

    <button type="submit" class="btn btn-primary">Baixar</button>
  </form>
{% endblock %}