{% extends 'base.html' %}

{% block titulo %} {{titulo}} {% endblock %}


{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='download-video/main.css')}}">
<div class='container vh-100 pt-5'>
  <form id ='form-video' class='rounded container  border border-2 border-primary p-5 w-50 ' action='{{action_url}}'>
    <div class="mb-3">
      <label for="url" class="form-label fw-bold">Url do video*</label>
      <input required type="text" class="form-control" id="url" name='url' aria-describedby="url do video" placeholder='Digite aqui a url do video'>
      <div class='msg-erro'>
        <p>Url invalida ou vazia</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="caminho_salvar" class="form-label fw-bold">Digite onde deseja salvar no seu computador*</label>
      <input required type="text" class="form-control" id="caminho_salvar" name='caminho' placeholder='Digite o caminho de onde deseja salvar'>
      <div class='msg-erro'>
        <p>O Caminho precisa ser preenchido</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="corte" class="form-label fw-bold">Quantos segundos o corte deve ter?</label>
      <input required value='90' type="number" class="form-control" id="corte" name='corte' aria-describedby="quantidade de segundos para corte" placeholder='Digite aqui quantos segundos o corte deve ter'>
      <div class='msg-erro'>
        <p>Valor nao poder ser zero ou vazio</p>
      </div>
      <div id="corteHelp" class="form-text">
        Lembre-se que o corte não pode ser maior que a duração do video!!
      </div>
    </div>

    <button id='submit-btn' type="submit" class="btn btn-primary">Baixar</button>
  </form>

  <div class='alert signal-download alert-warning row justify-content-center'>
    <div class="spinner-border text-warning col-1" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class='col-5 align-self-center'>Fazendo download e corte do video, isso pode levar alguns minutos...</p>
  </div>
  <div class='alert signal-success alert-success row justify-content-center'>
    <p class='col-5 align-self-center'>Download e corte concluidos com sucesso!!</p>
  </div>

  <div class='alert signal-error alert-danger row justify-content-center'>
    <p class='col-5 align-self-center'></p>
  </div>
</div>


  <script src="{{url_for('static', filename='download-video/index.js')}}"></script>
{% endblock %}