{% extends 'base.html' %}

{% block titulo %} {{titulo}} {% endblock %}

{% block conteudo %}
        <link
        rel="stylesheet"
        href="{{url_for('static', filename='home/main.css')}}"
        />
        <div class='container'>
            <h1 class='text-center mt-2 '>Trazendo a simplicidade para fazer cortes para o tiktok</h1>
            <h3 class='text-center mt-3'>Voce pode escolher entre baixar um video ou uma playlist completa</h3>
            <div class='mt-4 container '>
                <div class='row justify-content-center align-items-center gx-1'>
                    <div class='col-3 card-container'>
                        <div class="card card-item">
                            <img src="{{url_for('static', filename='images/video.webp')}}" class="card-img-top rounded" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Baixar somente um video</h5>
                            <p class="card-text">Aqui você podera baixar video por video, eles serão cortados automaticamente com 1:30</p>
                            <a href="download-video" class="btn btn-primary">Começar!!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 card-container">
                        <div class="card card-item">
                            <img src="{{url_for('static', filename='images/playlist.jpg')}}" class="card-img-top rounded" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Baixar playlist completa</h5>
                            <p class="card-text">Aqui você podera baixar uma playlist completa de videos, eles não serão cortados</p>
                            <a href="download-playlist" class="btn btn-primary">Começar!!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 card-container">
                        <div class="card card-item">
                            <img src="{{url_for('static', filename='images/playlist.jpg')}}" class="card-img-top rounded" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Remover fundo de imagem</h5>
                            <p class="card-text">Aqui você podera remover o fundo das imagens que desejar</p>
                            <a href="remover-fundo-img" class="btn btn-primary">Começar!!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>


{% endblock %}